@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body,
button,
input {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #3498db;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}


/* Header */
header {
  background-color: #e0f7fa;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #00796b;
  font-weight: bold;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.search-box input {
  border: none;
  outline: none;
}

.search-box button {
  background-color: #3eb8a9;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.sliders {
  background-color: #b2ebf2;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  font-size: 20px;
}

.contenedor {
  text-align: center;
  margin-top: 60px;
}

.titulo_formu {
  font-size: 2.5rem;
  color: #a7abb6;
  margin-bottom: 22px;
}

/*Estilos Div que contiene al formulario*/
/*.formulario {
    background-color: rgb(156, 156, 156);
}*/

.formula {
  background-color: #b2ebf2;
  padding: 7px 7px;
  border: 2px solid #91c9ee;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 300%;
  max-width: max-content;
  margin: auto;
  margin-bottom: 60px;
}

input[type="text"] {
  background-color: white;
  border: 2px solid transparent;
  /* Azul personalizado */
  border-radius: 4px;
  /* Bordes redondeados */
  font-size: 16px;
  /* Tamaño de la fuente */
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  /* Quita el borde negro predeterminado */
  border: 2px solid transparent;
  /* Azul personalizado */
  box-shadow: 0 0 5px #627df7;
  /* Sombra opcional */
}

input[type="number"] {
  background-color: white;
  border: 2px solid transparent;
  /* Azul personalizado */
  border-radius: 4px;
  /* Bordes redondeados */
  font-size: 16px;
  /* Tamaño de la fuente */
  transition: border-color 0.3s ease;
}

input[type="number"]:focus {
  outline: none;
  /* Quita el borde negro predeterminado */
  border: 2px solid transparent;
  /* Azul personalizado */
  box-shadow: 0 0 5px #627df7;
  /* Sombra opcional */
}

.nombre_input {
  border: 2px solid #91c9ee;
  height: 25px;
}

.apellido_input {
  border: 2px solid #91c9ee;
  height: 25px;
}

.edad_input {
  border: 2px solid #91c9ee;
  height: 25px;
}

.catego_input {
  border: 2px solid #91c9ee;
  height: 25px;
}

.boton_agregar {
  color: white;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.boton_agregar:focus {
  outline: none;
  /* Eliminar el borde de enfoque predeterminado */
  border: 2px solid #3498db;
  /* Borde azul cuando está enfocado */
}

.boton_agregar:hover {
  background-color: rgba(5, 113, 202, 0.973);
  box-shadow: 2px 2px 5px #788dee;
}

.button--primary {
  background-color: rgba(12, 135, 236, 0.973);
}

.titulo_tabla {
  font-size: 2rem;
  color: #87898d;
  margin-bottom: 20px;
}

.tabla_regis {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
}

.tabla_header,
.tabla_body td {
  border: 1px solid #cccccc;
  padding: 5px;
}

.tabla_header {
  background-color: #b2ebf2;
}

.tabla_body td:nth-child(5) {
  display: flex;
  justify-content: space-around;
}

.input-editar {
  width: 100%;
  max-width: 90px;
  /* Limita el ancho máximo */
  box-sizing: border-box;
  font-size: inherit;
  padding: 1px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.btn-editar,
.btn-eliminar,
.btn-guardar,
.btn-cancelar {
  padding: 4px 8px;
  font-size: 0.9em;
  white-space: nowrap;
  height: auto;
}

/* Footer */
footer {
  background-color: #004d40;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 190px;
  width: 100%;
}

/*carrusel*/
.carousel-container {
  margin-top: 20px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin: auto;
  border-radius: 20px;
  height: 556px;
  background-color: #f39fc6;
  border: solid;
  width: 80%;

}

.carousel-item{
    
    height: 550px;
   
}
.carousel{
    width: 100%;
    height: 100%;
    
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}