.caja {
    background-color: wheat;
    width: fit-content;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
}

input {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.boton {
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(196, 185, 185);
}

.boton:hover {
    background-color: gray; /* Cambia el color de fondo al pasar el cursor */
    box-shadow: 2px 2px 5px #888888; /* Añade una sombra */
}

.titulo {
    padding-top: 30px;
    text-align: center;
}